<div class="splash">
    <ul class="center-nav">
      <li><%= link_to 'listen', songs_path %></li>|
      <li><%= link_to 'me', about_path %></li>|
      <li><%= link_to 'watch', videos_path %></li>
    </ul>

</div>
<p id='secret'>
  <%- if current_user -%>
    <%= link_to 'ยง', destroy_user_session_path, method: :delete %>
  <%- else -%>
     <%= link_to 'ยง', new_user_session_path %>
  <%- end -%>
</p>
