<!DOCTYPE html>
<html>
<head>
  <title>LiamJonesMusic</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
  <div id="wrapper">
    <div id="header">
      <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
      <%- end -%>
    </div>
    <div id="content">
      <%= yield %>
    </div>

    <div id="footer-img">
      <%= link_to(image_tag( "logo.jpg", id: "logo-footer"), root_path) %>
    </div>
  </div>
</body>
<%= javascript_include_tag 'application' %>
</html>
