<!DOCTYPE html>
<html>
<head>
  <title>LiamJonesMusic</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

      <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
      <%- end -%>


      <%= yield %>
</body>
<%= javascript_include_tag 'application' %>
</html>
